accelerate==1.10.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
av==13.1.0
beautifulsoup4==4.13.4
bidict==0.23.1
blinker==1.9.0
boto3==1.40.37
botocore==1.40.37
Brotli==1.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
coloredlogs==15.0.1
comm==0.2.3
compel==2.0.2
contourpy==1.3.2
controlnet_aux==0.0.7
cryptography==45.0.5
cycler==0.12.1
dashscope==1.24.0
debugpy==1.8.11
decorator==4.4.2
decord==0.6.0
diffusers==0.35.1
dominate==2.9.1
easydict==1.13
einops==0.8.1
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.117.1
ffmpy==0.6.1
filelock==3.13.1
flash_attn==2.7.4.post1
Flask==3.1.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2024.6.1
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.45
gradio==5.47.0
gradio_client==1.13.2
groovy==0.1.2
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.1
humanfriendly==10.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
inquirerpy==0.3.4
ipdb==0.13.13
ipykernel==6.30.0
ipython==8.37.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
lazy_loader==0.4
lmdb==1.7.3
Mako==1.3.10
markdown-it-py==4.0.0
markdown2==2.5.4
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
markdown2==2.5.4
mdurl==0.1.2
ml_dtypes==0.5.1
moviepy==1.0.3
mpmath==1.3.0
multidict==6.6.3
narwhals==2.1.1
nest_asyncio==1.6.0
networkx==3.3
numpy==1.24.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
nvidia-tensorrt==99.0.0
omegaconf==2.3.0
onnx==1.18.0
onnx-ir==0.1.4
onnxconverter-common==1.15.0
onnxruntime==1.22.1
onnxscript==0.3.2
open_clip_torch==3.0.0
opencv-python==4.11.0.86
orjson==3.11.3
packaging==25.0
pandas==2.3.1
parso==0.8.4
peft==0.17.0
pexpect==4.9.0
pfzy==0.3.4
pickleshare==0.7.5
Pillow==10.1.0
pip==25.1
platformdirs==4.3.8
plotly==6.3.0
proglog==0.1.12
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.31.1
psutil==5.9.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycocotools==2.0.10
pycparser==2.22
pycuda==2025.1.1
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-multipart==0.0.20
python-socketio==5.13.0
pytools==2025.2.2
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.2.0
regex==2024.11.6
requests==2.32.4
rich==14.1.0
ruff==0.13.1
s3transfer==0.14.0
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.25.2
scipy==1.15.3
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.33.2
setuptools==78.1.1
shellingham==1.5.4
simple-websocket==1.1.0
siphash24==1.7
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
stack_data==0.6.3
starlette==0.48.0
sympy==1.13.1
tensorrt==10.13.0.35
tensorrt_cu12==10.13.0.35
tensorrt_cu12_bindings==10.13.0.35
tensorrt_cu12_libs==10.13.0.35
tifffile==2025.5.10
timm==1.0.19
tokenizers==0.21.2
tomli==2.2.1
tomlkit==0.13.3
torch==2.6.0+cu124
torchao==0.12.0
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.54.0
triton==3.2.0
typer==0.19.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
uv==0.8.22
uvicorn==0.37.0
uvloop==0.21.0
wandb==0.21.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wsproto==1.2.0
xformers==0.0.29.post3
xfuser==0.4.4
yarl==1.20.1
yunchang==0.6.3.post1
zipp==3.23.0
